.ecommerce-admin {
	overflow: hidden;
}

.ecommerce-admin-menu {
	width: 250px;
	margin-right: 5px;
	float: left;
	overflow: hidden;
	border-top: 1px solid #8E846B;
}

.ecommerce-admin-content {
	padding-left: 260px;
	//width: 100%;
}

.ecommerce-admin-menu .admin-menu-selected {
	background-color: #aaa;
}

ul.title-value-pair {
	display: block;
	overflow: hidden;
}

ul.title-value-pair  li {
	line-height: 20px;
	margin-bottom: 4px;
	display: block;
}

ul.title-value-pair li:FIRST-CHILD {
	width: 150px;
	float: left;
}

.admin-view-center {
	vertical-align: middle;
	height: 100%;
}

.admin-view-center ul {
	margin: 0 auto;
	width: 160px;
}

.admin-view-center .submit {
	margin: 0 auto;
	width: 50px !important;
	float: none !important;
}

.w100px {
	width: 100px !important;
}

.m10{
	margin: 10px !important;
}

.ecommerce-admin-content-tab {
	width: 100%;
}

.field-has-error {
	border: 1px solid red !important;
}

.field-error {
	color: red;
}