.ecommerce-admin{
	overflow: hidden;
}

.ecommerce-admin-menu {
	width: 250px;
	margin-right: 5px;
	float: left;
	overflow: hidden;
	border-top: 1px solid #8E846B;
}

.ecommerce-admin-content {
	padding-left: 260px;
	width: 100%;
}

.ui-accordion .ui-accordion-content {
	padding: 10px !important;
}